.first_step_conatiner{
    width:100%;
    max-width:900px;
    display:flex;
    flex-direction: column;
}
.first_step_title{
    font-weight: bold;
    font-size: 22px;
    padding: 20px 0px;
    
}
.first_step_explain{
    display:flex;
    flex-direction: row;
}
.first_step_explain_left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.left_png{
    width:200px;
    height:140px;
}
.first_step_explain_right{
    display:flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.first_step_bottom{
    font-size: 14px;
}
.right_png{
    width:200px;
    height:140px;
}
.first_step_funciona{
    padding: 10px 0px;
}
.first_step_guarda{
    padding: 10px 0px;
}
.first_step_general_title{
 font-weight: bold;
 font-size: 22px;
}
.first_step_general_desc{
    font-size: 14px;
}

.first_step_top{
 display:flex;

}
.first_step_bottom{
    padding:  20px 20%;

}